.Sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1a2d58;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    margin: 80px, 40px;
}

.Sidebar ul {
    list-style: none;
    padding: 0;
}

.Sidebar ul li {
    padding: 10px;
    margin: 10px 0;
}

.Sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.Sidebar ul li a:hover {
    background-color: #34495e;
    padding-left: 10px;
    transition: 0.3s;
}