.learning{
    margin: 30px
}

.flex-container{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px;
}

.missons{
    font-family: 'Slackey', cursive;
    margin: 0; /* Ensure no extra margin */
}

.stage-desc{
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
}

.desc-button{
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: orange;
    padding: 0px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chapter-container{
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Chapter{
    margin: 0; /* Ensure no extra margin */
    background-color: #65C726;
    border-radius: 70px;
    width: 250px;
    height: 120px;
    color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.chapter-title{
    font-size: 25px;
    padding-top: 20px;
    font-family: 'Slackey', cursive;
}
