.content {
    margin: 40px;
}

.flex-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px;
}

.Topbox{
    display: flex;
    justify-content: space-between; /* 왼쪽·오른쪽 끝으로 분산 */
    align-items: center;            /* 세로 중앙 */
}


.missons {
    font-family: 'Slackey', cursive;
    margin: 0;
    /* Ensure no extra margin */
}

.stage-desc {
    font-size: 16px;
    text-align: left;
    font-family: 'Oxanium';
}


.mission-container{
    background-color: rgba(228, 228, 228, 0.9);
    padding: 50;
    height: 600px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}

.chapter-link{
    text-decoration: none;
    color: white;
}

.chapter-link .hover{
    text-decoration: none;
    color: white;
}

.Chapter{
    margin: 0; /* Ensure no extra margin */
    background-color: #65C726;
    border-radius: 70px;
    width: 250px;
    height: 100px;
    color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.chapter-title{
    font-size: 25px;
    padding-top: 20px;
    font-family: 'Slackey', cursive;
}

.mission-title{
    font-size: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    font-family: 'Slackey', cursive;
    text-align: start;
    
}

.missions{
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 1fr 1fr 0.7fr;
    grid-auto-rows: 36px;     
    padding: 0 25px;
  }
  
  .missions > *{
    line-height: 36px;        
    padding: 0 8px;           
    margin: 0;                
  }

.section-name{
    font-family: 'Oxanium';
    font-size: 18px;
    text-align: start;
    padding: 0px;
}

.Review-button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
  
    align-self: center;           
    display: flex;                
    justify-content: center;      
    align-items: center;          
  }