@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.my-page {
  padding: 2rem;
  color: #1a1a1a;
}

.my-page__title {
  text-align: left;
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Slackey', cursive;
}

.my-page__card {
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: 3rem;
  min-height: 50vh;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow-y: auto;  
}

.my-page__welcome {
  text-align: left;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  font-family: 'Slackey', cursive;

}

.my-page__content {
  display: flex;
  gap: 2rem;
  
}

.my-page__profile {
  flex: 1;
  max-width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;  
}
.my-page__section-title {
  font-family: 'Slackey', cursive;
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.my-page__text {
  margin: 0.3rem 0;
  font-size: 1.4rem;
  text-align: left;
  font-family: 'oxanium';
}
.my-page__indent {
  margin-left: 1.5rem;
}

.my-page__activity {
  flex: 1;
  max-width: 55%;
}

.my-page__button {
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: 'slackey';
}
.my-page__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.my-page__button--edit {
  background-color: #836c72;
  color: #fff;
  margin-top: 1rem;
}
.my-page__button--edit:hover {
  background-color: #6e595f;
}

.my-page__button--delete {
  background-color: #fff;
  color: #000;
}
.my-page__button--delete:hover {
  background-color: #f0f0f0;
}

.my-page__button--signout {
  background-color: #836c72;
  color: #fff;
}
.my-page__button--signout:hover {
  background-color: #6e595f;
}

.my-page__actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
