.lesson-page {
    margin: 40px;
}

.lesson-page__header {
    display: flex;
    align-items: center;
}

.lesson-page__info {
    flex: none;
}

.lesson-page__info-title {
    font-family: 'Slackey', cursive;
    font-size: 4.5rem;
    margin: 0;
    text-align: left;
}

.lesson-page__info-desc {
    margin-top: 1rem;
    font-family: 'Oxanium';
    font-size: 1.5rem !important;
    text-align: left;
    line-height: 1.4;
}

/* Element: try-button */
.lesson-page__try-button {
    background-color: #65C726;
    border: none;
    border-radius: 70px;
    width: 400px;
    height: 120px;
    color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Slackey', cursive;
    padding: 0;
    margin-left: auto;
}

.lesson-page__try-button-main {
    font-size: 1.5rem;
    line-height: 1;
}

.lesson-page__try-button-sub {
    font-size: 1rem;
    margin-top: 0.25rem;
}

/* Block: history */
.lesson-page__history {
    background-color: rgba(228, 228, 228, 0.9);
    padding: 25px 50px 50px 25px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.lesson-page__history-title {
    font-family: 'Slackey', cursive;
    font-size: 2rem;
    margin: 0 0 1rem 25px;
    text-align: start;
}

/* Row: header / data */
.lesson-page__history-row {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 1fr 1fr 0.7fr;
    grid-auto-rows: 36px;
    padding: 0 25px;
    align-items: center;
    font-family: 'Oxanium';
    font-size: 1.125rem;
    text-align: start;
}

.lesson-page__history-row--header {
    font-family: 'Slackey', cursive;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.lesson-page__review-button {
    background-color: #f2c94c;        
    color: #ffffff;                   
    border: none;                     
    border-radius: 20px;             
    font-family: 'Slackey', cursive;  
    font-size: 1rem;                 
    padding: 0.5rem 1rem;           
    cursor: pointer;               
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
  }
  