.content {
    margin: 40px;
}

.flex-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px;
}


.stage-desc {
    font-size: 16px;
    text-align: left;
}


.submission-container {
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.mission {
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.mission-desc {
    width: 90%;
    background-color: rgba(67, 67, 67, 1);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
}

.mission-content {
    color: white;
    text-align: start;
    margin: 0;
}

.right-panel {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 400px;
}

.code {
    flex: 1;
    margin-bottom: 20px;
}

.title {
    font-size: 25px;
    font-family: 'Slackey', cursive;
    margin: 0;
    padding-top: 10px;
    text-align: start;
}


/* code mirror css */
.code-editor .cm-editor {
    font-family: "Fira Code", monospace !important;
    font-size: 14px !important;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

/* code mirror css */
.code-editor .cm-editor .cm-content {
    text-align: left !important;
}

.submission-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: auto;
}

.right-buttons {
    display: flex;
    gap: 10px;
    font-family: 'Slackey', cursive;
}


.btn-back,
.btn-giveup,
.btn-submit {
    padding: 12px 32px;
    border: none;
    border-radius: 12px;         
    font-family: 'Slackey', cursive;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    align-self: flex-start;   
}

.btn-back {
    background-color: #ccc;
    border: none;
    margin-left: 15px;
}
.btn-giveup {
    background-color: #f44336;
    color: #fff;
}

.btn-submit {
    background-color: #4caf50;
    color: #fff;
}


.btn-back:hover,
.btn-giveup:hover,
.btn-submit:hover {
    transform: translateY(-2px);  
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.15);
    opacity: 0.95;
}