.content {
    margin: 40px;
}

.flex-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px;
}




.submission-container {
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    align-items: flex-start;
}

.mission {
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.mission-desc {
    width: 90%;
    background-color: rgba(67, 67, 67, 1);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
}

.mission-content {
    color: white;
    text-align: start;
    margin: 0;
    font-size: 20px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 400px;
}

.code {
    flex: 1;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 400px;
}

.title {
    font-size: 2.5rem;
    font-family: 'Slackey', cursive;
    margin: 0;
    padding-top: 10px;
    text-align: start;
}


/* code mirror css */
.code-editor .cm-editor {
    font-family: "Fira Code", monospace !important;
    font-size: 20px !important;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

/* code mirror css */
.code-editor .cm-editor .cm-content {
    text-align: left !important;
}

.submission-buttons {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.right-buttons {
    display: flex;
    gap: 10px;
    font-family: 'Slackey', cursive;
}

.btn-back {
    margin-right: auto;
    padding: 12px 24px;  
  }
  
.btn-back,
.btn-giveup,
.btn-submit {
  padding: 12px 32px;
  border: none;
  border-radius: 24px;         
  font-family: 'Slackey', cursive;
  font-size: 1.7rem;
  cursor: pointer;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.btn-back{
  background-color: #e0e0e0;
  color: #000;
}

.btn-giveup{
    background-color: #D2D2D2;
    color: #000;
}

.btn-submit {
    background-color: #7f4f57;
    color: #fff;
  }

.btn-back:hover,
.btn-giveup:hover,
.btn-submit:hover {
    transform: translateY(-2px);  
    box-shadow: 2px 8px  twentypx rgba(0, 0, 0, 0.25);
    opacity: 0.95;
}

.missions{
    font-family: 'Slackey', cursive;
    font-size: 4.5rem;
}


.stage-desc{
    font-family: 'Oxanium';
    font-size: 1.5rem !important;
    text-align: left;
}